<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- Tell Spring Data JPA where your repository interfaces are -->
	<jpa:repositories base-package="oxi.repositories"/>

    <!--Enable annotation-driven transaction management-->
    <!--<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>-->
    
    <!--Create the datasource bean-->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
            <constructor-arg index="0" ref="hikariConfig"/>
    </bean>

    <!--Configure the database connects-->
    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
            <property name="driverClassName" value="${db.driver}"/>
            <property name="jdbcUrl" value="${db.url}"/>
            <property name="username" value="${db.username}"/>
            <property name="password" value="${db.password}"/>
    </bean>

    <!--Create the transaction manager bean that integrates the used JPA provider with the spring transaction maechanism-->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
            <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!--Specifies the default settings that are compatable with Hibernate-->
    <bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>

    <!--bean that creats the JPA Entity Manager Factory-->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" primary="true">
            <property name="dataSource" ref="dataSource"/>
            <property name="persistenceUnitName" value="default"/>
            <property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"/>
            <property name="packagesToScan" value="oxi.models"/>
            <property name="jpaProperties">
                <props>
                        <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                        <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                        <prop key="hibernate.implicit_naming_strategy">${hibernate.implicit_naming_strategy}</prop>
                        <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                        <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                </props>
            </property>
            <!--<property name="jpaPropertyMap" ref="jpaPropertyMap"/>-->
    </bean>

    <!--<util:map id="jpaPropertyMap" map-class="java.util.TreeMap">-->
<!--            <entry key="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>-->
<!--            <entry key="hibernate.hbm2ddl" value="update"/>-->
<!--            <entry key="hibernate.ejb.naming_strategy" value="org.hibernate.cfg.ImprovedNamingStrategy"/>-->
<!--            <entry key="hibernate.show_sql" value="true"/>-->
<!--            <entry key="hibernate.format_sql" value="true"/>-->
<!--       </util:map>-->
</beans>
