<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--=========================================-->
        <!--============   Spring Security   ========-->
        <!--=========================================-->
        <Logger name="oxi.security" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Logger name="org.springframework.security" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>


        <!--=========================================-->
        <!--============    hibernate    ============-->
        <!--=========================================-->

        <!--This category contains all messages written by Hibernate. You can use this to analyze unspecific issues or to find categories used by Hibernate.  Be careful, setting this category to a fine log level might create a lot of log output.-->
        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <!-- All SQL statements executed via JDBC are written to this log category.  You can use it together with org.hibernate.type.descriptor.sql to get more information about the JDBC parameters and results.-->
        <Logger name="org.hibernate.SQL" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <!--Hibernate writes the values bound to the JDBC parameters and extracted from the JDBC results to this log category.  This category should be used together with org.hibernate.SQL to also log the SQL statements.-->
        <Logger name="org.hibernate.type.descriptor.sql" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <!--Hibernate logs the state at flush time of max. 20 entities to this log category.-->
        <Logger name="org.hibernate.pretty" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <!--    Information about second level cache activities is written to this log category.-->
        <Logger name="org.hibernate.cache" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <!--Hibernate writes some statistics for each query to this category. The statistics need to be activated separately.-->
        <Logger name="org.hibernate.stat" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <!--This category groups the HQL and SQL ASTs during query parsing.-->
        <Logger name="org.hibernate.hql.internal.ast.AST" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <!--    Hibernate writes the DDL SQL queries executed during schema migration to this log category.-->
        <Logger name="org.hibernate.tool.hbm2ddl" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>


        <!--========================================-->
        <!--============    Jackson    =============-->
        <!--========================================-->

        <Logger name="com.fasterxml.jackson.core" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Logger name="com.fasterxml.jackson" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
         <Logger name="org.springframework.data.rest.webmvc.jsonorg.springframework.data.rest.webmvc.json.PersistentEntityJackson2Module" level="trace" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        

        <!--========================================-->
        <!--============    Spring Msc   ===========-->
        <!--========================================-->

        <Logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Logger name="org.springframework.spring-webmvc" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Logger name="org.springframework.data.spring-data-rest-webmvc" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Logger name="oxi.controllers" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Logger name="oxi.models.dto" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Logger name="oxi.services" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>
