<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <title>Sending Email with Thymeleaf HTML Template Example</title>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    </head>
    <body style="margin: 0;padding: 0;">
        <table style="border-spacing: 0px; width:100%;">
            <tbody >
                <tr style="background-color: #263238; height: 180px">
                    <td style="padding-left: 20px;">
                        <span style="
                            width: 85px;
                            margin: auto;
                            height: 75px;
                            display: block;
                            padding-top: 25%;"
                        >
                            <img src="https://oxisalechannel.com/Graphics/logo-fitsee.png" style="width: 100%;">
                        </span>
                    </td>
                    <td style="
                        height: 28px;
                        line-height: 28px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 28px;
                        color: #636363;
                        padding-left: 40px;
                        width: calc(100% - 40px);
                        padding-right: 20px;"
                    >
                        <span th:text="#{message.emailVer.header}"></span>
                    </td>
                </tr> 
                <tr>
                    <td colspan="2" style="padding-left: 20px;">
                        <span th:text="#{message.emailVer.body}" style="
                            margin-top: 40px;
                            display: block;
                            margin-left: 0px;
                            font-size: 18px;  
                            line-height: 18px;
                            font-family: 'Open Sans', sans-serif;
                            height: 18px;
                            color: #8e8e8e;"  
                        >                            
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-left: 20px;position: relative;">
                        <table>
                            <tbody>
                                <span th:te
                                <a th:href="@{${verifyLink}}" style="
                                    display:block;
                                    position: absolute;
                                    width: 82px;
                                    height: 37px;
                                    border-radius: 4px;
                                    bottom: 0px;"
                                ></a>
                                <table>
                                    <tbody>
                                        <a th:text="#{label.verifyEmail}" th:href="@{${verifyLink}}" style="

                                            margin-top: 40px;
                                            display: block;
                                            width: 80px;
                                            height: 35px;
                                            line-height: 35px;
                                            border-radius: 4px;
                                            border: solid 1px #7b7b7b;
                                            bottom: 0px;
                                            cursor: pointer;
                                            font-family: 'Roboto', sans-serif;
                                            background-color: #636363;
                                            color: #f9f9f9;
                                            letter-spacing: 1px;
                                            text-align: center;
                                            position:relative;"
                                        ></a>
                                    </tbody>
                                </table> 
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="/* padding-left: 20px; */">
                        <span style="display: block; margin-top: 120px;">footer</span>
                    </td>
                </tr>   
            </tbody>
        </table>
    </body>
</html>