<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <title>Sending Email with Thymeleaf HTML Template Example</title>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    </head>
    <body>
        <table style="
            border-spacing: 0px; 
            width:25vw; 
            min-width: 360px;
            margin-top: 24px;
        ">
            <tbody style="background-color: #faf7f6;">
                <tr style="background-color: #ffffff; height: 180px">
                    <td style="
                        padding-left: 20px;
                    ">
                        <span style="
                            width: 85px;
                            margin: auto;
                            height: 75px;
                            display: block;
                            padding-top: calc(.25*75px);"
                        >
                            <img src="https://oxisalechannel.com/Graphics/Full_lockup/logo_lockup_3_color_031420.png" width="85">
                        </span>
                    </td>
                    <td style="
                        height: 22px;
                        line-height: 22px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 22px;
                        color: #304244;
                        padding-left: 40px;
                        width: calc(100% - 40px);
                        padding-right: 20px;
                        font-weight: bold;
                    ">
                        <span th:text="#{message.emailVer.header}"></span>
                    </td>
                </tr> 
                <tr>
                    <td colspan="2" style="">
                        <span th:utext="#{message.emailVer.body}" style="
                            margin-top: 40px;
                            display: flex;
                            justify-content: center;
                            margin-left: 0px;
                            font-size: 16px;  
                            line-height: 20px;
                            font-family: 'Open Sans', sans-serif;
                            height: 20px;   
                            color: #444444;
                            letter-spacing: 0.02rem;
                            text-align: center;
                            padding: 0px 40px;
                            height: auto;
                        " >                     
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="
                        position: relative;
                    ">
                        <span style="
                            height: 48px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            justify-content: center;
                        ">
                            <img src="">
                            <img src="">
                        </span>
                    </td>
                    <td colspan="2" style="
                        position: relative;
                    ">
                        <table style="
                            border-spacing: 0px; 
                            margin: auto;
                        ">
                            <tbody style="
                                width: 100%;
                            ">
                                <a th:href="@{${verifyLink}}" style="
                                    display:block;
                                    position: absolute;
                                    width: auto;
                                    height: 37px;
                                    border-radius: 4px;
                                    bottom: 0px;
                                "></a>
                                <table style="
                                    border-spacing: 0px; 
                                    margin-right: unset;
                                ">
                                    <tbody>
                                        <a th:text="#{label.verifyEmail}" th:href="@{${verifyLink}}" style="

                                            margin-top: 40px;
                                            display: block;
                                            width: 200px;
                                            line-height: 35px;
                                            border-radius: 4px;
                                            bottom: 0px;
                                            cursor: pointer;
                                            font-family: 'Roboto', sans-serif;                                            
                                            background-color: #2f4345;
                                            color: white;
                                            text-align: center;
                                            text-decoration:unset;
                                            font-weight: bold;
                                            font-size: 1.2rem;
                                            position:relative;
                                            height: auto;
                                        ">
                                            
                                        </a>
                                    </tbody>
                                </table> 
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="/* padding-left: 20px; */">
                        <span style="
                            display: block; 
                            margin-top: 120px;
                            padding: 0px 24px;
                            text-align: center;
                            font-size: 0.9rem;
                        ">
                            <a th:text="#{label.terms}" th:href="@{${termsLink}}" style="
                                color: gray;
                                text-decoration: unset;
                            ">
                                
                            </a>
                            |
                            <a th:text="#{label.privacy}" th:href="@{${privacyLink}}" style="
                                color: gray;
                                text-decoration: unset;
                            ">
                                
                            </a>
                            |
                            <a th:text="#{label.about}" th:href="@{${aboutLink}}" style="
                                color: gray;
                                text-decoration: unset;
                            ">
                                
                            </a>
                        </span>
                    </td>
                </tr>   
            </tbody>
        </table>
    </body>
</html>
